<div class="container">
  <div class="row">
    <div class="col-md-12 text-uppercase ">
    <br>


<form (ngSubmit)="onSubmit(form)" #form="ngForm">

    <input type="text" ngModel name="city" placeholder="Añadir Ciudad">
    <button name="btn">Buscar</button>

</form>

      <br>
      <div class="img-responsive ">
        <h1>{{myWeather.cityName}} {{myWeather.temp}}&deg;</h1><br>
        <img src="http://openweathermap.org/img/w/{{myWeather.icon}}.png">
      </div>

      <div class="">
        <h3>{{myWeather.weatherKind}}</h3><br>
        <h4>Temperatura Max:&nbsp;{{myWeather.tempMax}}&deg;</h4>
        <h4>Temperatura Min:&nbsp;{{myWeather.tempMin}}&deg;</h4>
      </div>

    </div>
  </div>
</div>
