<div class="container">
  <div class="row  center-block">
    <div class="col-xs-12 text-center">

      <br>
      <div class="img-responsive ">
        <h1>{{myWeather.cityName}} {{myWeather.temp}}&deg;</h1><br>
        <img src="http://openweathermap.org/img/w/{{myWeather.icon}}.png">
      </div>

      <div class="">
        <h3>{{myWeather.weatherKind}}</h3><br>
        <h4>Temperatura Max:&nbsp;{{myWeather.tempMax}}&deg;</h4>
        <h4>Temperatura Min:&nbsp;{{myWeather.tempMin}}&deg;</h4>
      </div>
        <br><br>
         <form class="form-inline list-group-item " (ngSubmit)="onSubmit(form)" #form="ngForm">

            <div class="form-group">

              <input class="form-control" type="text" ngModel name="city" placeholder="Ciudad">
              <input class="form-control" type="text" ngModel name="country" placeholder="Pais">
              <button class=" btn btn-default" name="btn">Buscar</button>

            </div>

         </form>

    </div>


  </div>
</div>
