.day{
	margin: 2%;
	display: inline;
	float:left;
	display:block;
}
.icon{
	margin: 10px;
}
.temp{
	display: inline;
	float:left;
	display:block;
}

img{
	width: 100px;
	height: 100px;
}
h3{
	display: inline;
}
