
    <h2>Pronostico por ciudad</h2><br><br>


<form [formGroup]="forecastForm" (ngSubmit)="onSubmit()">

    <input type="text" formControlName="forecastCity">
    <input type="text" formControlName="forecastCountry">
    <button name="btn">Buscar</button>

</form>

<br>

 <div class="img-responsive ">
        <h1>NameCity</h1><br>
 </div>

<div class="containers col-md-12">

   <div class="day">
    <h2>Date:</h2>
     <div class="icon">
       <img src="http://openweathermap.org/img/w/10d.png" alt="">
     </div>
    <div class="temp">
       <h3>Max:&nbsp;</h3>
       <h3>&nbsp;Min:</h3>
     </div>
  </div>
   <div class="day">
    <h2>Date:</h2>
     <div class="icon">
       <img src="http://openweathermap.org/img/w/10d.png" alt="">
     </div>
    <div class="temp">
       <h3>Max:&nbsp;</h3>
       <h3>&nbsp;Min:</h3>
     </div>
  </div>   <div class="day">
    <h2>Date:</h2>
     <div class="icon">
       <img src="http://openweathermap.org/img/w/10d.png" alt="">
     </div>
    <div class="temp">
       <h3>Max:&nbsp;</h3>
       <h3>&nbsp;Min:</h3>
     </div>
  </div>
     <div class="day">
    <h2>Date:</h2>
     <div class="icon">
       <img src="http://openweathermap.org/img/w/10d.png" alt="">
     </div>
    <div class="temp">
       <h3>Max:&nbsp;</h3>
       <h3>&nbsp;Min:</h3>
     </div>
  </div>
     <div class="day">
    <h2>Date:</h2>
     <div class="icon">
       <img src="http://openweathermap.org/img/w/10d.png" alt="">
     </div>
    <div class="temp">
       <h3>Max:&nbsp;</h3>
       <h3>&nbsp;Min:</h3>
     </div>
  </div>

 

</div>
