
    <h2>Pronostico por ciudad</h2><br><br>


<form [formGroup]="forecastForm" (ngSubmit)="onSubmit()">

    <input type="text" formControlName="forecastCity">
    <input type="text" formControlName="forecastCountry">
    <button name="btn">Buscar</button>

</form>

<br><br>

<div class="containers col-xs-12">

   <div class="day" *ngFor="let day of cityForecast">

    <h3>{{day.date | date: MMMMd}}</h3>

     <div class="icon">
       <img src="http://openweathermap.org/img/w/{{day.icon}}.png">
     </div>

    <div class="temp">
       <h4>Max:{{day.temp_max}}&deg;&nbsp;</h4>
       <h4>&nbsp;Min:{{day.temp_min}}&deg;</h4>
    </div>

  </div>

</div>
