
<div class="container">
  <div class="row  center-block">
    <div class="col-xs-12 text-center">
    <br>


<h1>Ciudades</h1>

   <form class="form-inline " [formGroup]="addForm" (ngSubmit)="onAdd()">

      <div class="form-group container-fluid">

        <input class="form-control" type="text" formControlName="city" placeholder="Ciudad">
        <input class="form-control" type="text" formControlName="Country" placeholder="Pais">
        <button class=" btn btn-success" name="btn">Agregar</button>
        <button class=" btn btn-danger" name="btn">Eliminar</button>

      </div>
   </form>

      <br>

      <div class="container ">

        <div class="form-group container-fluid list-group-item" *ngFor="let save of addCity">

          <div>
            <h2>{{save.name}} {{save.temp}}&deg;</h2>
          </div>
          <div>
            <span>Max:&nbsp;{{save.temp_max}}&deg;</span>
            <span>Min:&nbsp;{{save.temp_min}}&deg;</span>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
