
<div class="container">
  <div class="row  center-block">
    <div class="col-xs-12 text-center">
    <br>


<h1>Ciudades</h1>

   <form class="form-inline " (ngSubmit)="onAdd(form)" #form="ngForm">
      
      <div class="form-inline container-fluid">
        
        <input class="form-control" type="text" ngModel name="addCity" placeholder="Ciudad">
        <input class="form-control" type="text" ngModel name="addCountry" placeholder="Pais">
        <button class=" btn btn-default" name="btn">Agregar</button>

      </div>
   </form>

      <br>

      <div class="form-group container-fluid">

        <h2>City{{myWeather.cityName}} {{myWeather.temp}}&deg;</h2><br>

        <h3>{{myWeather.weatherKind}}</h3><br>

        <span>Max:&nbsp;{{myWeather.tempMax}}&deg;</span>
        <span>Min:&nbsp;{{myWeather.tempMin}}&deg;</span>

      </div>

    
    </div>
  </div>
</div>
